<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>997950476267-u4t6mb219pdpc9nc8cnd9t340olpbior.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.997950476267-u4t6mb219pdpc9nc8cnd9t340olpbior</string>
	<key>API_KEY</key>
	<string>AIzaSyBwwhiHbEnL8V7qQ-e9YaCMQN2GvxvMUWI</string>
	<key>GCM_SENDER_ID</key>
	<string>997950476267</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.shu17712.SuperMemo</string>
	<key>PROJECT_ID</key>
	<string>supermemo-66e31</string>
	<key>STORAGE_BUCKET</key>
	<string>supermemo-66e31.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:997950476267:ios:bc821786cecd5526c893ae</string>
	<key>DATABASE_URL</key>
	<string>https://supermemo-66e31.firebaseio.com</string>
</dict>
</plist>